.percy{
  width:300px ;
  margin-left:450px;
  background-color: :blue;
 /* transition:0.5s;
  animation:jenny 1s linear;
  background-color:red;

}
@keyframes jenny{
  from {
    margin-left: 100%;
  }
  to{
    margin-left: 60%;
  }*/
}
.jenny{
  width: 280px;
  margin-left: 50px;
  background-color: crimson;
}
