/*commun 2 robots */

.robots {
  display: flex;
  margin-top: 250px;
}
/*jenny */
.jenny {
  width: 500px;
  height: 500px;
  position: fixed;
  animation: Jenny 2s linear;
  margin-left: 45%;
}
@keyframes Jenny {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 45%;
  }
}
/*percy */
.percy {
  width: 500px;
  height: 500px;
  position: fixed;
  animation: Percy 2s linear;
  margin-left: 30%;
}
@keyframes Percy {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 30%;
  }